<footer class="bg-success py-3 fixed-bottom">
    <div class="container-xxl py-3 fs-4 fw-semibold">
        <div class="col-md-4 text-light mx-auto text-center">
            <span class="mb-3 ">©{{actualYear}} Stock~Master</span> 
        </div>
    </div>
</footer>