<header>
    <div class="d-flex justify-content-center align-items-center bg-success p-5">
        <i class="bi bi-boxes display-1 me-3 text-light"></i>
        <h1 class="display-2 fw-semibold text-light">Stock~Master</h1>     
    </div>
</header>