<main class="container-xxl py-5">
    <section class="w-75 border border-5 rounded-4 mx-auto text-center p-5 shadow-lg bg-light">
        <h1 class="text-success">Welcome to Stock~Master</h1>
        <hr>
        <p class="fs-4">To manage your products, select "Products" in the navigation bar.</p>
    </section>
</main>